.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}
#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #000000,
    #000120 20%,
    rgb(241, 241, 241) 20%,
    rgb(241, 241, 241) 40%,
    #000120 40%,
    #000120 60%,
    rgb(241, 241, 241) 60%,
    rgb(241, 241, 241) 80%,
    #000120 80%,
    #000120 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: rgb(241, 241, 241);
  transition: 0.3s;
  /* padding: 0px 0px; */
  box-sizing: border-box;
}
#hamburger-menu {
  display: none;
  /* visibility: hidden; */
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}
/* Hamburger Closed */

@media (max-width: 768px) {
  #side {
    display: none;
  }
  /* Hamburger show */
  #hamburger-menu {
    display: inline;
  }
  .item {
    text-align: left;
  }
}
