@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  .left,
  .header {
    display: none;
  }
  #conatiner {
    height: 100%;
    width: 100%;
  }
  .main{
    height: 100vh;
    width: 100vw;
  } 
  .main .st1 .street {
    height: 90%;
  }
  .main .st1 .status {
    height: 80%;
  }
  .main .st1 .consump {
    height: 80%;
  }
  .main .st1 .total {
    height: 80%;
  }
  .main .st1 .real {
    margin: 2px;
    height: 50%;
  }
  .main .st2 {
    width: 90%;
  }
  .main .st3 {
    height: 90%;
  }
  .main .st4 {
    width: 90%;
    height: 90%;
  }
}
